<body>
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">All themes</h1>
  </div>

  <div class="row">
    <div class="col-sm-8 blog-main">
      <% @themes.each do |theme| %>
          <h3 class="blog-post-title">
            <%= theme.name %>
            <%= link_to 'Delete', theme, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %>
          </h3>
      <% end %>
    </div>

    <br>
  </div>

  <div class="well">
        <%= form_for Theme.new, url: themes_path, remote: true, :html => {:role=> 'form'} do |f| %>
            <p>
              <%= f.label :name, "New theme" %><br/>
            <div class="form-group">
              <%= f.text_field :name, class: 'form-control'%>
            </div>
            </p>
            <p><%= f.submit "Add theme", class: 'btn btn-primary' %></p>
        <% end %>
  </div>

</div>
</body>